/Lecture9/blog-app/nbproject/
/lecture_02/code/servlet-hello-world/target/
lecture_02/code/servlet-hello-world/nb-configuration.xml
/lecture_05/ejb-cdi-web-notes/target/
/lecture_03/websockets-server/target/
/lecture_07/web-notebook/target/
/lecture_07/jsp-web-notes/target/
/lecture_07/jsf-web-notes/target/
/lecture_08/web-notes-with-tests/target/
/lecture_08/web-notes-with-tests/nbproject/
/lecture_09/web-notes-security/target/
/lecture_10/spring-web-notes/target/